*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  html,body{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items:center;
    background-color: green;
  }
  .main_div{
    width: 365px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

  }
  .main_div .title{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color:rgb(14, 160, 62);
  }
  .main_div .avatar1{
    width: 50%;
    height: 50%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: #0e7736;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left:25%;
  }
  form {
    margin-top: 25px;
  }
  form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #0e7736;
    padding: 5px;
    font-family: cursive;
  }
  .input_box input{
    height: 100%;
    width: 100%;
    margin-top: 3px;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .input_box input:focus{
    border-color: #0e7736;
  }
  .input_box .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: 25px;
    transform: translateY(-50%);
    color: #0e7736;
  }

  .button input{
    padding-left: 0;
    background: #0e7736;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .button input:hover{
    background:#0e7736;
  }
  form .sign_up{
    text-align: center;
    margin-top: 25px;
  }
  .sign_up a{
    color: #0e7736;
  }
  form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }
  